{% extends "base.html.twig" %}

{% block body %}
{# edit mode:variableTwig qui provient de blog controller et de la methode forme  #}
   
    <h1 class="display-4 text-center my-4">
    {% if editMode %}
    modification de l'article
    {% else %}
    creer un nouvel article
    {% endif %}
    </h1>

    {# form_start() fonction de TWIG permettant de commencer le formulaire, de générer la balise <form> ouvrante, Symfony intègre automatiquement l'attribut 'method="post"' #}
    {# form_end() fonction de TWIG permettant de terminer le formulaire, de générer la balise </form> fermante #}
    {# form_row() fonction TWIG qui permet d'afficher les champs du formulaire 1 par 1 #}
    {# Le bouton submit est codé en dur puisque le formulaire servira à la fois et à insérer mais aussi à modifier #}
    {# SI on crée la bouton avec la fonction add() dans le controller, il sera difficile de modifier son lable (modifier ou supprimer) #}


    {{form_start(formArticle ,{'attr':{'class': "col-md-7 mx-auto"}})}}

        {{form_row(formArticle.title, {'attr': {'placeholder':"saisir le titre de l'article"}})}}

        {{form_row(formArticle.content, {'attr':{'placeholder':"contenu de l'article","rows":15}})}}

        {{form_row(formArticle.image,{'attr':{'placeholder':"saisir l'url de l'image"}})}}

        <button type="submit" class="btn btn-info">
        {% if editMode %}
        enregister les modifications
        {% else %}
        enregister
        {% endif %}
        </button>

    {{ form_end(formArticle) }}
    {# <form method="post" action="" class="col-md-6 mx-auto">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="content">Contenu de l'article</label>
            <textarea class="form-control" id="content" name="content" rows="8"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-dark">Enregistrer</button>
    </form> #}
    
{% endblock %}