{% extends 'base.html.twig' %}

{% block title %}Blog symfony! Articles{% endblock %}

{% block body %}
<h1 class="display-4 text-center my-4"> lire des articles</h1>
<div class="row d-flex justify-content-around">
{# for est une boucle /commande de twig, nous avaons receptionné 10 articles e la BDD ,nous devons passer en revue les 10 articles via la boucle for.
la variable 'articles provient du controller "blogcontroller" de la methode index this render
elle contient les 10 articles selectionner en bdd

#}

    {% for data in article %}
    <div class="card" style="width: 18rem;">
        <img src="{{ data.image}}" alt="" class="card-img-top">
        {# nous piochons dans notre variable data avec le point '.'afin d'afficher l'image le contenu est la date de l'article cela se repete 10 fois avec la boucle for via data

        #}
        <div class="card-body">
            <h5 class="card-title">{{ data.title }}</h5>
            <p class="card-text"> {{ data.content|raw }} </p>
            {# RAW: filtre twig qui permet les balises html stockees en BDD est d'afficher le texte brut

            #}
            <p> posté le {{data.createdAt|date("d/m/y")}} à {{data.createdAt|date("H:i:s")}}  </p>

            {# la date est renvoyée par la BDD sous forme d'objet datetime donc imposible de l'afficher comme ceci
            nous devons utiliser pour les filtres twig permettant de convertir un objet datetime en une chaine de caractere
            date ("d/m/Y") pour la date
            heure("h:i:s")pour l'heure
            #}
            <a href="{{ path('blog_show', {'id':data.id } ) }}" class="btn btn-primary">voir le detail</a>
            {#path('blog_show' ): nom de la route pour le detail d'un aricle
            #}
        </div>
    </div>
  {% endfor %}
  
</div>
{% endblock %}
